[submodule "PowerlineFonts"]
	path = PowerlineFonts
	url = https://github.com/powerline/fonts
	branch = master
[submodule "sshkeys"]
	path = sshkeys
	url = https://github.com/algorythm/sshkeys
	branch = master